:root {
  --tertiary: #ffa500;
  --secondary: #fff;
  --primary: #000;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  height: 65px;
  gap: 18rem;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  max-width: 5rem;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header__nav-item:hover {
  border-bottom: 2px solid var(--secondary);
}

.header__cta {
  background-color: var(--tertiary);
  color: var(--secondary);
  outline: 2px solid var(--tertiary);
  padding: 10px;
  border-radius: 20px;
  font-weight: 800;
  transition: transform .3s ease;
}

.header__cta:hover {
  transform: scale(.9);
}

.header__button {
  gap: 1rem;
}

.header__nav-item {
  text-decoration: none;
  color: var(--secondary);
}

.nav-button {
  width: 32px;
  height: 18px;
  cursor: pointer;
}

.nav-button #burger {
  position: relative;
  transform: rotate(0deg);
}

.nav-button #burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--secondary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.nav-button #burger span:nth-child(1) {
  top: 0;
}

.nav-button #burger span:nth-child(2),
.nav-button #burger span:nth-child(3) {
  top: 8px;
}

.nav-button #burger span:nth-child(4) {
  top: 16px;
}

.nav-button #burger.active-sandwich span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

.nav-button #burger.active-sandwich span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-button #burger.active-sandwich span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-button #burger.active-sandwich span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

.nav-button {
  display: none;
}


@media only screen and (max-width: 768px) {
  .nav-button #burger span {
    background-color: var(--secondary);
    z-index: 2;
  }

  .nav-button {
    display: block;
    z-index: 99999;
  }



  .header__nav,
  .header__cta {
    display: none;
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .header__cta {
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .header__visible {
    display: block;
    transform: translateX(0);
  }

  .header__nav-list {
    flex-direction: column;
    align-items: end;
    margin-top: 5rem;
  }

  .header__nav-item {
    color: var(--secondary);
  }

  .header__nav-items {
    margin-bottom: 1rem;
  }

  .header__cta {
    position: absolute;
    top: 32rem;
    right: 2rem;
  }
}